@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas/bebas.ttf') format("ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "BebasNeue Bold";
    src: url('bebas_neue/TTFs/BebasNeue Bold.ttf') format('ttf'),
        url('bebas_neue/BebasNeue Bold.otf') format('otf');
}

@font-face {
    font-family: "BebasNeue Book";
    src: url("bebas_neue/TTFs/BebasNeue Book.ttf") format('ttf'),
        url('bebas_neue/BebasNeue Book.otf') format('otf');
}

@font-face {
    font-family: "HelveticaLTStd";
    src: url('../fonts/helvetica-lt-std/HelveticaLTStd-BoldCond.otf') format('otf');
}