.btn{
padding: 7px 22px;
border-radius: 23px;
background-color: #cd0a2d;
}


.tours__item-btn{
margin-top: 30px;
border: none;
justify-self: flex-end; 


    .tours__item-link{
        color: #ffffff;
        text-transform: uppercase;
        font-family: "bebas_neuebold", sans-serif;
        font-size: 1.313rem;
        font-weight: 400;
        text-decoration: none;
    }
}

