.blog {
    background: #ededed;
    padding-top: 131px;
}
.blog-heading__title{
    color: #1a1919;
}   

.blog-heading__text{
    margin: 15px auto 0;
    color: #1a1919;
}
.blog-galler__container{
    padding: 43px 0 84px;
}