.blog {
    background: #ededed;
    padding-top: 131px;

    &-heading__title{
        color: #1a1919;
    }   

    .heading__text{
        margin: 15px auto 0;
        color: #1a1919;
        font-weight: 600;
    }
    &-gallery__container{
        padding: 43px 15px 84px;
        p {
            margin: 0;
            padding: 0;
        }
    }

    .card-count__title--blog{
        width: 190px;
        line-height: 25px;
        color: #fff;
        font-family: "bebas_neuebold";
        font-size: 2.25rem;
        font-weight: 400;
    }
    p.card-count__sub-title--blog{
        margin-top: 9px;
        max-width: 135px;
        height: 17px;
        color: #fff;
        font-family: "bebas_neuebook";
        font-size: 1.375rem;
        font-weight: 400;
        letter-spacing: 4.35px;
    }
    .card-count{
        bottom: 28px;
        left: 0;
    }
    .tours__item-title{
        max-width: 310px;
    }
    .tours__item-text--blog{
        max-width: 335px;
        color: #676767;
        font-family: 'Lato', sans-serif;
        font-size: 1.125rem;
        font-weight: 500;
        letter-spacing: 0.5px;
        margin-top: 12px;
    }
}