.header {
    width: 100%;
    padding: 14px 66px 14px 52px;
    display: flex;  
    position: fixed;
    z-index: 99;
    top: 0;
    align-items: center;
    justify-content: space-between;
    
    

    &_fixed {
        position: fixed;
        top: 0;
        background: #1a1919;
        opacity: 0.9;
        transition: all 0.35s ease-out;
    }
}
nav {   
       display: flex;
       flex-direction: row;
       flex-wrap: nowrap;
      
    }
.nav__list, 
.social__list {
    @extend nav;
    list-style: none;
    align-items: center;
}

.nav__item {
    margin-right: 30px;

    .nav__link {
        text-decoration: none;
        text-shadow: 0.25rem 0.125rem 0 rgba(0, 0, 0, 0.2);
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        font-weight: 400;
        line-height: 27.05px;
        text-transform: uppercase;
        letter-spacing: 1.13px;

        &:hover {
                text-shadow: 1px 4px 1px rgba(0, 0, 0, 0.5);
                color: red;
        }
    }
}

