.testimonial{
    background-color: #ededed;
    padding-top: 165px;
}

.testimonial__heading,
.heading {
    margin: 0;
    padding: 0;
    text-align: center;
}

.testimonial__heading-title, 
.heading__title {
margin: 0 auto 0;
padding: 0;
max-width: 425px;   
font-family: "bebas_neuebold";
font-size: 4.25rem;
font-weight: 400;
text-transform: uppercase;
text-align: center;
}
.heading__title,
.testimonial__heading-title{
color: #cd0a2d;
    span {
            color: #000000;
        }
}
    


.testimonial--heading__text, 
.heading__text{
    margin: 18px auto 0;
    padding: 0;
    max-width: 825px;
    color: #5d5c5c;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.67px;
    letter-spacing: 0.5px;
}

.testimonial__main-container{
    padding: 90px 0 0 0;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: visible;
    justify-content: flex-start;
    
   @media screen and (max-width: 980px){
                 justify-content: center;

               }
               @media screen and (max-width: 580px){
                 justify-content: center;
                    margin-top: 0;
                    width: 100%;
               }
}


.testimonial__title{
    padding: 0;
    margin:  0 0 0 11px;
    max-width: 170px;
    color: #212121;
    font-family: 'bebasregular';
    font-size: 1.438rem;
    font-weight: 400;
    line-height: 33.24px;
    letter-spacing: 0.21px;
    flex-grow: 1;
    span {
        
        display: block;
        height: 16px;
        color: #212121;
        font-family: "bebas_neuebook", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 28.95px;
        letter-spacing: 0.21px;
    }
}

.testimonial__text{
    padding: 0;
    margin: 60px auto 0;
    text-align: center;
    max-width: 412px;
    height: 177px;
    color: #212121;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.67px;
    letter-spacing: 0.5px;
}

.testimonial__img--right{
    position: absolute;
    bottom: 0;
    margin-left: 126px;
    z-index: 2;
    
      @media screen and (max-width: 1120px){
                  margin: 0;
                   width: 35%;
               }
               @media screen and (max-width: 980px){
                 display: none;
               }
}